<?xml version="1.0"?>
<!--
/**
 * @category    Alfa9
 * @package     Alfa9_Core
 * @author     Alfa9 Servicios Web, S.L. <ctubio@alfa9.com>
 */
-->
<config>
	<modules>
		<Alfa9_MageForce>
		  <version>1.0.0</version>
			<depends>
       <Mage_Core />
       <Mage_Customer />
			</depends>
		</Alfa9_MageForce>
	</modules>
	<global>
    <blocks>
      <a9mageforce>
        <class>Alfa9_MageForce_Block</class>
      </a9mageforce>
    </blocks>
    <models>
      <a9mageforce>
        <class>Alfa9_MageForce_Model</class>
      </a9mageforce>
    </models>
    <helpers>
      <a9mageforce>
        <class>Alfa9_MageForce_Helper</class>
      </a9mageforce>
    </helpers>
    <resources>
      <a9mageforce_setup>
          <setup>
              <module>Alfa9_MageForce</module>
              <class>Alfa9_MageForce_Model_Resource_Setup</class>
          </setup>
          <connection>
              <use>core_setup</use>
          </connection>
      </a9mageforce_setup>
    </resources>
    <events>
      <catalog_product_save_after>
        <observers>
          <a9mageforce_catalog_product_save_after>
            <type>singleton</type>
            <class>Alfa9_MageForce_Model_Observer_Product</class>
            <method>upsert</method>
          </a9mageforce_catalog_product_save_after>
        </observers>
      </catalog_product_save_after>
      <catalog_product_delete_after>
        <observers>
          <a9mageforce_catalog_product_delete_after>
            <type>singleton</type>
            <class>Alfa9_MageForce_Model_Observer_Product</class>
            <method>delete</method>
          </a9mageforce_catalog_product_delete_after>
        </observers>
      </catalog_product_delete_after>
      <customer_save_after>
        <observers>
          <a9mageforce_customer_save_after>
            <type>singleton</type>
            <class>Alfa9_MageForce_Model_Observer_Customer</class>
            <method>upsert</method>
          </a9mageforce_customer_save_after>
        </observers>
      </customer_save_after>
      <customer_delete_after>
        <observers>
          <a9mageforce_customer_delete_after>
            <type>singleton</type>
            <class>Alfa9_MageForce_Model_Observer_Customer</class>
            <method>delete</method>
          </a9mageforce_customer_delete_after>
        </observers>
      </customer_delete_after>
      <sales_quote_save_after>
        <observers>
          <a9mageforce_sales_quote_save_after>
            <type>singleton</type>
            <class>Alfa9_MageForce_Model_Observer_Quote</class>
            <method>upsert</method>
          </a9mageforce_sales_quote_save_after>
        </observers>
      </sales_quote_save_after>
      <sales_quote_delete_after>
        <observers>
          <a9mageforce_sales_quote_delete_after>
            <type>singleton</type>
            <class>Alfa9_MageForce_Model_Observer_Quote</class>
            <method>delete</method>
          </a9mageforce_sales_quote_delete_after>
        </observers>
      </sales_quote_delete_after>
      <sales_order_save_after>
        <observers>
          <a9mageforce_sales_order_save_after>
            <type>singleton</type>
            <class>Alfa9_MageForce_Model_Observer_Order</class>
            <method>upsert</method>
          </a9mageforce_sales_order_save_after>
        </observers>
      </sales_order_save_after>
      <sales_order_delete_after>
        <observers>
          <a9mageforce_sales_order_delete_after>
            <type>singleton</type>
            <class>Alfa9_MageForce_Model_Observer_Order</class>
            <method>delete</method>
          </a9mageforce_sales_order_delete_after>
        </observers>
      </sales_order_delete_after>
    </events>
  </global>
  <admin>
    <routers>
      <adminhtml>
        <args>
          <modules>
            <a9mageforce before="Mage_Adminhtml">Alfa9_MageForce</a9mageforce>
          </modules>
        </args>
      </adminhtml>
    </routers>
  </admin>
  <adminhtml>
    <acl>
      <resources>
        <admin>
          <children>
            <system>
              <children>
                <config>
                  <children>
                    <a9mageforce translate="label" module="a9mageforce">
                      <title>SalesForce Connector</title>
                    </a9mageforce>
                  </children>
                </config>
              </children>
            </system>
          </children>
        </admin>
      </resources>
    </acl>
  </adminhtml>
  <default>
    <a9mageforce>
      <login>
        <username>knalbandian.mageforce@alfa9.com</username>
        <password>alfa9.com123A</password>
        <token>grSFEmGlNMH4yjI4YaMG1RfqK</token>
      </login>
      <wsdl>
        <enterprise></enterprise>
        <metadata></metadata>
      </wsdl>
      <debug>
        <file_enabled>0</file_enabled>
        <mail_enabled>0</mail_enabled>
        <mail_from>salesforce.error@alfa9.com</mail_from>
        <mail_to>ctubio@alfa9.com</mail_to>
      </debug>
      <map_product>
        <enabled>0</enabled>
        <magento_entity>catalog/product</magento_entity>
        <salesforce_entity>Product2</salesforce_entity>
        <ua_attr>a:5:{s:18:"_1385871259503_503";a:2:{s:7:"magento";s:3:"sku";s:10:"salesforce";s:11:"ProductCode";}s:18:"_1385871297760_760";a:2:{s:7:"magento";s:8:"url_path";s:10:"salesforce";s:6:"URL__c";}s:17:"_1385871310058_58";a:2:{s:7:"magento";s:4:"name";s:10:"salesforce";s:4:"Name";}s:18:"_1385880073846_846";a:2:{s:7:"magento";s:9:"entity_id";s:10:"salesforce";s:13:"Magento_ID__c";}s:18:"_1386002425783_783";a:2:{s:7:"magento";s:6:"status";s:10:"salesforce";s:8:"IsActive";}}</ua_attr>
      </map_product>
      <map_customer>
        <enabled>0</enabled>
        <magento_entity>customer/customer</magento_entity>
        <salesforce_entity>Account</salesforce_entity>
        <ua_attr>a:2:{s:18:"_1385997596698_698";a:2:{s:7:"magento";s:9:"entity_id";s:10:"salesforce";s:13:"Magento_ID__c";}s:18:"_1385997613930_930";a:2:{s:7:"magento";s:9:"firstname";s:10:"salesforce";s:4:"Name";}}</ua_attr>
      </map_customer>
      <map_quote>
        <enabled>0</enabled>
        <magento_entity>sales/quote</magento_entity>
        <salesforce_entity>Opportunity</salesforce_entity>
        <ua_attr>a:8:{s:17:"_1386003039017_17";a:2:{s:7:"magento";s:9:"entity_id";s:10:"salesforce";s:13:"Magento_ID__c";}s:17:"_1386003057050_50";a:2:{s:7:"magento";s:11:"customer_id";s:10:"salesforce";s:9:"AccountId";}s:18:"_1386003064778_778";a:2:{s:7:"magento";s:11:"grand_total";s:10:"salesforce";s:6:"Amount";}s:18:"_1386003307679_679";a:2:{s:7:"magento";s:9:"entity_id";s:10:"salesforce";s:4:"Name";}s:17:"_1386004007051_51";a:2:{s:7:"magento";s:10:"created_at";s:10:"salesforce";s:9:"CloseDate";}s:18:"_1386004017711_711";a:2:{s:7:"magento";s:9:"is_active";s:10:"salesforce";s:9:"StageName";}s:18:"_1386012308186_186";a:2:{s:7:"magento";s:17:"customer_is_guest";s:10:"salesforce";s:4:"Type";}s:18:"_1386013148563_563";a:2:{s:7:"magento";s:17:"reserved_order_id";s:10:"salesforce";s:14:"OrderNumber__c";}}</ua_attr>
      </map_quote>
      <map_order>
        <enabled>0</enabled>
        <magento_entity>sales/order</magento_entity>
        <salesforce_entity>Opportunity</salesforce_entity>
        <ua_attr>a:8:{s:18:"_1386015113831_831";a:2:{s:7:"magento";s:9:"entity_id";s:10:"salesforce";s:13:"Magento_ID__c";}s:18:"_1386015149821_821";a:2:{s:7:"magento";s:10:"created_at";s:10:"salesforce";s:9:"CloseDate";}s:18:"_1386015150396_396";a:2:{s:7:"magento";s:12:"increment_id";s:10:"salesforce";s:14:"OrderNumber__c";}s:18:"_1386015151104_104";a:2:{s:7:"magento";s:12:"increment_id";s:10:"salesforce";s:4:"Name";}s:18:"_1386015244825_825";a:2:{s:7:"magento";s:17:"customer_is_guest";s:10:"salesforce";s:4:"Type";}s:18:"_1386015275676_676";a:2:{s:7:"magento";s:5:"state";s:10:"salesforce";s:9:"StageName";}s:18:"_1386017731415_415";a:2:{s:7:"magento";s:11:"customer_id";s:10:"salesforce";s:9:"AccountId";}s:18:"_1386017802506_506";a:2:{s:7:"magento";s:10:"total_paid";s:10:"salesforce";s:6:"Amount";}}</ua_attr>
      </map_order>
    </a9mageforce>
   </default>
</config>
