<?xml version="1.0"?>
<config>
    <modules>
        <Alfa9_Adminhtml>
            <version>0.0.1</version>
        </Alfa9_Adminhtml>
    </modules>
     <stores>
        <admin>
            <design>
                <package>
                    <name>default</name>
                </package>
                <theme>
                    <default>alfa9</default>
                </theme>
            </design>
        </admin>
    </stores>
</config>
